        table {
            margin-top: 5px;
        }
        
        table,
        tr,
        td,
        th {
            border-collapse: collapse;
            border: 1.5px solid white;
        }
        
        td,
        th {
            width: 130px;
            height: 25px;
        }
        
        th {
            background-color: #3895B8;
            color: white;
        }
        
        tr:nth-child(2n+1) {
            background-color: white;
        }
        
        tr:nth-child(2n+2) {
            background-color: #EFEFEF;
        }
        
        #time {
            width: 80px;
        }
        
        body {
            margin-top: 0px;
            margin-left: 0;
            margin-right: 0;
            background-color: rgb(255, 234, 163);
        }
        
        #face {
            width: 140px;
            height: 140px;
            border-radius: 70px;
            padding-top: 15px;
        }
        
        #motor {
            width: 330px;
            height: 240px;
            position: absolute;
            border-radius: 5px;
            margin-top: -45px;
        }
        
        #chienkuoimg {
            width: 330px;
            height: 243px;
            position: absolute;
            border-radius: 5px;
            margin-top: -45px;
        }
        
        #intro {
            margin-top: 50px;
            padding-bottom: 0px;
            text-align: left;
            border-bottom: 1px white solid;
        }
        
        #past {
            padding-top: 50px;
            border-bottom: 1px white solid;
        }
        
        #title {
            margin-top: 0px;
            text-align: center;
            background-color: darkgray;
            height: 25px;
            font-size: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        #photo {
            text-align: center;
            border-bottom: 1px white solid;
        }
        
        #a {
            margin-left: 25px;
            list-style-type: square;
            font-size: 23px;
        }
        
        #class {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            border-bottom: 1px white solid;
            padding-bottom: 50px;
        }
        
        #moto {
            text-align: right;
            margin-right: 350px;
        }
        
        #chienkuo {
            text-align: right;
            margin-right: 350px;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        #htmlpage {
            margin-left: 258px;
            height: 40px;
            width: 150px;
            background-color: aqua;
            text-align: center;
            padding-top: 20px;
            font-size: 16px;
            font-weight: 800;
            position: absolute;
            border-radius: 10px;
        }
        
        #htmlpage2 {
            margin-left: 408px;
            height: 40px;
            width: 150px;
            background-color: rgb(247, 168, 0);
            text-align: center;
            padding-top: 20px;
            font-size: 16px;
            font-weight: 800;
            position: absolute;
            border-radius: 10px;
        }
        
        #facebook {
            background-color: rgb(56, 147, 233);
            padding-top: 26px;
            border-radius: 5px;
        }
        
        #facebook:hover {
            text-decoration: none;
            background-color: rgb(24, 143, 255);
        }